@import '../../styles/colour-palette.scss';

.side-bar-container {
	padding: 10px;
	text-align: center;
	display: grid;

	// &.active {
	// 	color: #2a2aeb;
	// }

	.link {
		padding: 10px;
		cursor: pointer;

		// a:hover {
		// 	background-color: yellow;
		// }
	}

	.image {
		margin-bottom: 20px;

		img {
			width: 100px;
			border: 5px solid $avatar-colour-background;
		}
	}

	.links-container {
		position: absolute;
		bottom: 20px;
		width: 90%;

		img {
			width: 30px;
			height: 30px;
			margin: 5px;
		}
	}
}