@import '../../styles/colour-palette.scss';

.side-bar-container {
	padding: 10px;
	text-align: center;
	display: grid;
	background-color: $body-colour-background;
	width: 100%;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	h3 {
		margin: 30px;
	}

	.link-container {
		padding: 10px;
		cursor: pointer;
		position: relative;
		display: inline-block;
		color: $sidebar-colour-link !important;
		text-decoration: none;

		a {
			font-weight: 800;
			letter-spacing: .05rem;
			text-transform: uppercase;
			transition: all 500ms;
	
			&:hover {
				font-size: 1.2em;
				font-size-adjust: 20px;
			}
		}
	}

	.image {
		margin: 30px 0px;

		img {
			width: 150px;
			border: 5px solid $avatar-colour-background;
		}
	}

	.links-container {
		margin-top: 20px;
		bottom: 20px;
		width: 90%;

		img {
			width: 30px;
			height: 30px;
			margin: 5px;
		}
	}
}