@import './colour-palette.scss';

.carousel-container {
	padding: 10px 0px;
	overflow-y: hidden !important;
	overflow-x: hidden !important;

	.slick-slide {
		padding: 0px 5px;
	}

	button.slick-arrow.slick-next:before {
		color: black;
		margin-left: -30px;
	}

	button.slick-arrow.slick-prev:before {
		color: black;
		margin-right: -30px;
	}

	.slick-arrow {
		padding: 1px 0px 0px 0px;
		border-radius: 50%;
		z-index: 20;
		font-size: 20px;
		transform: scale(2, 2);
	}

	.slick-dots {
		position: relative;
		transform: scale(2, 2);
		height: 50px;
	}

	.card {
		height: 500px;
		padding: 5px 5px;
		border: 1px solid black;

		.card-image {
			img {
				height: 185px;
				width: 100%;
			}
		}

		.card-title {
			width: 100%;

			h3 {
				text-align: center;
			}
		}

		.card-body {
			height: 210px;
			overflow-y: hidden;
			padding: 0px;
			position: absolute;

			.card-tags {
				svg {
					height: 20px;
				}
				.card-tag {
					margin: 1px;
				}
			}

			.card-text {
				font-size: 1rem;
				overflow: hidden;
				height: 100%;
			}

			.card-text:after {
				content: "";
				position: absolute;
				z-index: 1;
				bottom: 0;
				left: 0;
				pointer-events: none;
				background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
				width: 100%;
				height: 4em;
			}
		}

		.card-buttons {
			position: absolute;
			color: white;
			background-color: white;
			padding: 10px 0px;
			// width: 100%;
			bottom: 0px;
			// left: 0px;

			a {
				margin-left: 5px;
				cursor: pointer;

				svg {
					width: 15.5px;
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	.carousel-container {
		overflow-y: hidden;
	}
}

@media (max-width: 700px) {
	.carousel-container {
		.slick-arrow {
			display: none !important;
		}
	}
}
