$primary-colour-text:						             	#005D86;
$secondary-colour-text:					            	rgb(255, 255, 255);
$text-colour-background:				            	rgba(0, 0, 0, .8);

$body-main-background-color:		          	  #f5f5f5;
$body-colour-background: 				            	#659DBD;
$body-colour-font:							            	rgba(29, 29, 29, 0.8);

$sidebar-colour-dark: 					             	#222;
$sidebar-colour-body: 					             	#005D86;
$sidebar-colour-link:						            	#003A65;
$sidebar-colour-background: 		            	white;
$sidebar-colour-font: 					            	grey;

$main-colour-background:			             		rgb(224, 225, 230);

$bottom-colour-arrow:					  	          	black;

$carousel-colour-background-arrow:          	black;

$avatar-colour-background:				          	#003A65;

$nav-bar-background-color:				          	#e8f0f9;
$nav-navbar-box-shadow-colour:		          	#8c898c;

$footer-colour-link:						            	rgba(29, 29, 29, 0.8);
$footer-colour-link-hover:	          				#003A65;
$footer-box-shadow:					          		  	#8c898c;

$blocks-color-text:						            		white;

$carousel-colour-background-arrow:				    black;
$carousel-card-text-background-colour-from:		rgba(255,255,255, 0);
$carousel-card-text-background-colour-to:	  	rgba(255,255,255, 1);
$carousel-card-text-colour:						        white;
$carousel-card-background-colour:				      white;
$carousel-card-border-colour:					        black;

$image-block-button-colour:					        	black;

$testimonials-text-colour:				        		white;