$primary-text-alpha:                rgb(52, 7, 138);
$primary-text-beta:                 rgb(54, 131, 231);
$secondary-text-alpha:              rgb(104, 2, 2);
$secondary-text-beta:               rgb(245, 50, 50);
$text-background:                   rgba(0, 0, 0, .8);