$primary-colour-text:							#005D86;
$secondary-colour-text:							rgb(255, 255, 255);
$text-colour-background:						rgba(0, 0, 0, .8);

$body-colour-background: 						#659DBD;
$body-colour-font:								rgba(29, 29, 29, 0.8);

$sidebar-colour-dark: 							#222;
$sidebar-colour-body: 							#005D86;
$sidebar-colour-link:							#003A65;
$sidebar-colour-background: 					white;
$sidebar-colour-font: 							grey;

$main-colour-background:						rgb(224, 225, 230);

$bottom-colour-arrow:							black;

$carousel-colour-background-arrow:				black;

$avatar-colour-background:						#003A65;