@import './colour-palette.scss';

.messageContainer {
	padding: 10px 0px 10px 10px;

	.messageArea {
		display: inline-flex;

		.messageClose {
			cursor: pointer;
			position: absolute;
			right: 10px;
		}
	}
}

@media (max-width: 1000px) {
	.messageContainer {
		padding: 10px 0px 10px 0px;
		margin-top: 60px;
	}
}
