@import './colour-palette.scss';

.navLink active {
	color: red;
}

.navigationContainer {
	.navbar {
		background-color: $body-colour-background !important;

		a {
			color: $sidebar-colour-link !important;
			font-weight: 800;
			letter-spacing: .05rem;
			text-transform: uppercase;
			transition: all 500ms;
	
			&:hover {
				font-size: 1.2em;
				font-size-adjust: 20px;
			}
		}
	}

	.topBarLinks {
		position: absolute;
		right: 90px;
		top: 10px;

		.linksContainer {
			img, .icon {
				width: 30px;
				height: 30px;
				margin: 5px;
			}
		}
	}

	.navbarNav {
		.linksContainer {
			display: none;
		}
	}
}

@media (max-width: 1000px) {
	.navigationContainer {
		.topBarLinks {
			.linksContainer {
				right: 80px;
			}
		}
	}
}

@media (max-width: 470px) {
	.navigationContainer {
		.topBarLinks {
			.linksContainer {
				display: none;
			}
		}
	}

	.navbarNav {
		.linksContainer {
			display: block !important;
			text-align: left !important;

			img, .icon {
				width: 30px;
				height: 30px;
				margin: 5px;
			}
		}
	}
}
