@import '../../styles/colour-palette.scss';

.cards-container {
	margin-bottom: 20px;
	.card-item {
		margin-bottom: 20px;

		.card {
			margin: 20px;
			height: 100%;

			.card-img-top {
				margin: 0px;
			}

			.card-button {
				position: absolute;
				bottom: 10px;
				left: 10px;
			}
		}
	}
}