@import '../../styles/colour-palette.scss';

.nav-link active {
	color: red;
}

.navigation-container {
	.navbar {
		background-color: $body-colour-background !important;

		a {
			color: $sidebar-colour-link !important;
			font-weight: 800;
			letter-spacing: .05rem;
			text-transform: uppercase;
			transition: all 500ms;
	
			&:hover {
				font-size: 1.2em;
				font-size-adjust: 20px;
			}
		}
	}

	.top-bar-links {
		position: absolute;
		right: 90px;
		top: 10px;

		.links-container {
			img, .icon {
				width: 30px;
				height: 30px;
				margin: 5px;
			}
		}
	}

	.navbar-nav {
		.links-container {
			display: none;
		}
	}
}

@media (max-width: 1000px) {
	.navigation-container {
		.top-bar-links {
			.links-container {
				right: 80px;
			}
		}
	}
}

@media (max-width: 470px) {
	.navigation-container {
		.top-bar-links {
			.links-container {
				display: none;
			}
		}
	}

	.navbar-nav {
		.links-container {
			display: block !important;
			text-align: left !important;

			img, .icon {
				width: 30px;
				height: 30px;
				margin: 5px;
			}
		}
	}
}
