@import '../../styles/colour-palette.scss';

.nav-link active {
	color: red;
}

.navigation-container {
	.navbar {
		background-color: $body-colour-background !important;

		a {
			color: $sidebar-colour-link !important;
			font-weight: 800;
			letter-spacing: .05rem;
			text-transform: uppercase;
			transition: all 500ms;
	
			&:hover {
				font-size: 1.2em;
				font-size-adjust: 20px;
			}
		}
	}

	.links-container {
		position: absolute;
		right: 20px;
		top: 10px;

		img {
			width: 30px;
			height: 30px;
			margin: 5px;
		}
	}
}

@media (max-width: 1000px) {
	.navigation-container {
		.links-container {
			right: 80px;
		}
	}
}

@media (max-width: 1000px) {
	.navigation-container {
		.links-container {
			right: 80px;
		}
	}
}

@media (max-width: 470px) {
	.navigation-container {
		.links-container {
			display: none;
		}
	}
}