@import '../../styles/colour-palette.scss';

.carousel-container {
	padding: 10px;

	.slick-arrow {
		background-color: $carousel-colour-background-arrow;
		padding: 1px 0px 0px 0px;
		border-radius: 50%;
		z-index: 20;
		font-size: 20px;
		transform: scale(2, 2);
	}

	.slick-dots {
		position: relative;
		transform: scale(2, 2);
		height: 50px;
	}

	.card-item {
		height: 100%;
		padding: 0px 10px;

		.card {
			height: 600px !important;

			.card-img-top {
				height: 185px;
			}

			.card-body {
				.card-text {
					font-size: 10px;
				}

				.card-tags {
					margin-bottom: 5px;

					.card-tag {
						margin: 1px;
					}
				}
			}

			.card-button {
				position: absolute;
				bottom: 10px;
				left: 10px;
			}
		}
	}
}
