.modal {
  z-index: 100;
  display: block; }

.container {
  display: flex; }
  .container .menu {
    display: none; }
  .container .sidebar {
    width: 17rem;
    top: 0;
    left: 0;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    background-color: #659DBD; }
  .container .main {
    width: calc(100% - 17rem); }
  .container .bottom {
    justify-self: bottom; }

@media (max-width: 1000px) {
  .container .sidebar {
    display: none; }
  .container .main {
    width: 100%; }
  .container .menu {
    display: flex; } }
