$colour-dark: #222;
$colour-body: #ccc;
$colour-background: white;
$colour-font: grey;

.sidebar {
	width: 200px;
	height: 60vh;
	min-height: 200px;
	overflow: auto;
	position: -webkit-sticky;
	position: sticky;
	top: 5%;
}

.main {
	width: calc(100% - 220px);
	height: 100%;
	min-height: 1000px;
	display: flex;
	flex-direction: column;
}

.main,
.sidebar {
	border: 1px solid $colour-dark;
	background-color: $colour-background;
	border-radius: 10px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

body {
	padding: 3%;
	color: $colour-font;
	background-color: $colour-body;
	box-sizing: border-box;
	font-family: Lato, sans-serif;
}

.bottom {
	justify-self: bottom;
}

.menu {
	display: none;
}

@media (max-width: 1000px) {
	.sidebar {
		display: none;
	}

	.main {
		width: 100%;
	}

	.menu {
		display: flex
	}
}
