@import './styles/colour-palette.scss';

.sidebar {
	width: 200px;
	height: 60vh;
	min-height: 200px;
	overflow: auto;
	position: -webkit-sticky;
	position: sticky;
	top: 5%;
}

.main {
	width: calc(100% - 220px);
	height: 100%;
	min-height: 1000px;
	display: flex;
	flex-direction: column;
}

.main,
.sidebar {
	border: 1px solid $sidebar-colour-dark;
	background-color: $sidebar-colour-background;
	border-radius: 10px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.bottom {
	justify-self: bottom;
}

.menu {
	display: none;
}

@media (max-width: 1000px) {
	.sidebar {
		display: none;
	}

	.main {
		width: 100%;
	}

	.menu {
		display: flex
	}
}
