.sidebar {
  width: 25%;
  height: 60vh;
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%; }

.main {
  width: 70%;
  height: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column; }

.main,
.sidebar {
  border: 1px solid #222;
  background-color: white;
  border-radius: 10px; }

.sidebar {
  padding: 10px; }

.wrapper {
  display: flex;
  justify-content: space-between; }

body {
  padding: 3%;
  color: grey;
  background-color: #ccc;
  box-sizing: border-box;
  font-family: Lato, sans-serif; }

.bottom {
  justify-self: bottom; }

.menu {
  display: none; }

@media (max-width: 1000px) {
  .sidebar {
    display: none; }
  .main {
    width: 100%; }
  .menu {
    display: flex; } }
