@import './styles/colour-palette.scss';

body {
	margin: 0px;
	padding: 3%;
	color: $body-colour-font;
	background-color: $body-colour-background;
	box-sizing: border-box;
	font-family: Lato, sans-serif;
}
