@import './styles/colour-palette.scss';

body {
	margin: 0px;
	color: $body-colour-font;
	box-sizing: border-box;
	font-size: 1.2rem;
	font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

h1 {
	font-size: 6rem;
	line-height: 5.5rem;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
	color: $primary-colour-text;
	font-size: 3rem;
	line-height: 5.5rem;
	font-weight: 700;
}

h3 {
	color: $primary-colour-text;
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 700;
}

.centre-text {
	text-align: center;
}

@media (max-width: 1000px) {
	body {
		padding: 0px;
	}
}
