body {
  margin: 0px;
  padding: 3%;
  color: grey;
  background-color: #659DBD;
  box-sizing: border-box;
  font-family: Lato, sans-serif; }

@media (max-width: 1000px) {
  body {
    padding: 0px; } }
