@import '../../styles/colour-palette.scss';

.image-container {
    // min-width: 100%;
    // width: 100%;
    height: 100%;

    .image {
        position: relative;
        // opacity: 0.65;
        // filter: alpha(opacity=65);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 300px;
        height: 100%;
        // min-width: 100%;

        .text-row {
            position: absolute;
            left: 0;
            top: 20%;
            width: 100%;

            @media only screen and (max-width: 600px) {
                .text-container {
                    .primary-text {    
                        font-size: 3rem;
                    }

                    .secondary-text {
                        font-size: 1rem;
                    }
                }
            }

            .text-container {
                position: relative;
                display: grid;
                text-align: center;
                background: $text-background;
                margin: 0px;
                width: 100%;
                font-weight: 700;
                line-height: 3.5rem;
                text-transform: uppercase;
                padding: 10px;

                .primary-text {    
                    font-size: 4rem;
                    // background: -webkit-linear-gradient($primary-text-beta, $primary-text-alpha);
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;
                    color: rgb(42, 42, 235);
                }

                .secondary-text {    
                    font-size: 2rem;
                    // background: -webkit-linear-gradient($secondary-text-beta, $secondary-text-alpha);
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;
                    color: rgb(255, 255, 255);
                }
            }
        }
    }

    
}